# Compiled source #
###################
*.o
*.mod
*.F
MHDG-NGamma-serial-2D
MHDG-NGammaTiTe-serial-2D
MHDG-NGammaVort-serial-2D
MHDG-NGamma-serial-3D
MHDG-NGammaTiTe-serial-3D
MHDG-NGammaVort-serial-3D
Convergence-NGamma-serial-2D
Convergence-NGammaTiTe-serial-2D
Convergence-NGammaVort-serial-2D
Convergence-NGamma-serial-3D
Convergence-NGammaTiTe-serial-3D
Convergence-NGammaVort-serial-3D
Sol*